@model Vacay.Models.PopularPlacesViewModel
@{
    ViewBag.Title = "MyTravelJournal";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Popular Places Near Me
           
        </h1>
    </div>
</div>
<br />
        @foreach (var post in Model.Posts)
        {
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                    </a>
                </div>
                <div class="col-md-6">
                    <h4>@post.Post.Username</h4>
                    <h6>@post.Post.Date</h6>
                    <h3>@post.Post.Location | <small>@post.Post.City</small></h3>
                    <p>@post.Post.Post</p>
                </div>
                <div class="col-md-2">
                    @if (post.ListOfUpvotes != null)
                    {
                        <a class="btn btn-primary" href="#">@post.ListOfUpvotes.Count();  &nbsp; <span class="glyphicon glyphicon-thumbs-up"></span></a>
                    }
                    else
                    {
                        <a class="btn btn-primary" href="#">@Model.Zero   &nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></a>
                    } 
                </div>
            </div>
            <br />
            <br />
        }



